.DropDownItems {
    margin-top: 80px;
    background-color: #f7f3f3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 6px 16px;
    z-index: 1;
}

.DropDownItems ul {
    list-style: none;
}